*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
 /* margin: 160px;    */
 /* z-index: -12; */
 background-image: url(wedbg.png);
 background-position: top;
 font-family: 'Ovo', serif;
 font-family: 'Pinyon Script', cursive;
}
/* .main{
position: relative;
} */
/* .main{
margin: auto;
width: 100%;
text-align: center;
height: 400px;
border-bottom: 1px solid black; 
font-family:'Pinyon Script', cursive;
} */
.main-nav{
  position: absolute; 
  top: 2%;
  left: 5%;
  z-index: 100;
  }
    .main-nav a{
      text-decoration: none;
      color:  #004721;
      z-index: 100;
    }
    .main-nav a:hover {
      color:  #ffffff;
    border-radius: 30px;
    /* padding-right: 50px;
    padding-left: 50px; */
    z-index: 100;
    }
    .main-nav li{
      margin: 2px; 
     color: rgb(210, 8, 8); 
     background-color: #fbece874; 
     border-radius: 15px;
     padding: 2px;
     text-align: center;
     list-style: none;
     font-size: 1.5rem;
     z-index: 100;
     /* float: right; */
     }
    /* .sub-list {
    display:none;
    }
    .sub-list li{
    list-style: none;
    
    }
    .main-nav:hover .sub-list{
    display: block;
    margin-left: 30px;
    } 
    .opacity{
    opacity: 1;
    }*/
    .main-heading{
      font-family: Pinyon Script;
      background-color: #fbece874; 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    position: absolute;
     top: 50%; 
    transform: translate(0%,-50%);
    align-items: center;
    text-align: center;
    justify-content: center;
    color:  #004721;
    font-size: 4.5rem;
    letter-spacing: 12px;
    
    
    }
    .slide-left{
        animation-name: names;
        animation-duration: 3s;
    }
    .slide-right{
        animation-name: hitched;
        animation-duration: 1s;
    }
    @keyframes names{
    0%{
    transform:translateX(-400px) ;
    opacity: 0; 
    }
    100%{
    transform: translateX(0);
     opacity: 1; 
    }
    }
    @keyframes hitched{
        0%{
        transform:translateX(400px) ;
         opacity: 0; 
        }
        100%{
        transform: translateX(0);
         opacity: 1; 
        }
    }
    .video{
    
/* margin-left: 50px;
margin-right: 50px; */
 z-index: -20; 

    }
.head-one{
    font-family:'Pinyon Script', cursive;  
    margin-bottom: 30px;
}
.tradition{

width: 80%;
margin:  50px auto ;
left: 0%;
font-family: 'Ovo', serif;
font-weight: 400;
font-size: 1.5rem;
z-index: 100;
/* background-color: rgba(255, 255, 255, 0.448);  */
/* border-top: 1px solid black; */
overflow: hidden;
z-index: 10;
}
.points{
  color: darkgreen;
  font-family:'Pinyon Script', cursive;  
  font-weight: 700;
  font-size: xx-large;
  letter-spacing: .5rem;
}
.second-section{
  /* margin-top: 150px; */
justify-content: center;
  display: flex;
 flex-direction: row;
 gap: 10px;
 
}
.card-one{
display: flex;
width: 40%;

}
.card-two{
display: flex;
width: 40%;
}
.main-footer{
  font-family: 'Ovo';
    /* height: 100%; */
    width : 100%;
    background-color: #fbece8;  
    display: flex;
    flex-direction: row;
  
  }
.info{
    font-family: 'Ovo';    
    color:  #004721;
    display: inline-block;
    margin:30px auto;
    /* background-color: rgb(240, 240, 240); */
    text-align: center;
    font-size: 1.5rem;
          } 
          .moesgrafix{
            font-family:'Pinyon script';
          }

@media screen and (max-width:1100px) {
  .main-heading{
    font-family: Pinyon Script;
  background-color: #fbece874; 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  position: absolute;
   top: 35%; 
  transform: translate(0%,-50%);
  align-items: center;
  text-align: center;
  justify-content: center;
  color:  #004721;
  font-size: 2.5rem;
  letter-spacing: 12px;
  
  
  }
    .main-nav li{
    font-family:'Pinyon Script', cursive;
    margin: 2px;
    color: rgb(210, 8, 8); 
    background-color: #fbece874; 
    border-radius: 15px;
    padding: 2px;
    text-align: center;
    list-style: none;
    font-size: 1rem;
    /* float: right; */
    }
    .second-section{
      /* margin-top: 150px; */
    justify-content: center;
      display: flex;
     flex-direction: column;
     gap: 10px;
     
    }
    .card-one{
      display: flex;
      width: 20%;
      background-color: red;
      }
      .card-two{
      display: flex;
      width: 20%;
      background-color: green;
      }
      .main-footer{
        max-height: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);  
       display: flex;
        flex-direction: row; 
      
      }
    .info{
        font-family: 'Pinyon Script';    
        color:  #004721;
        display: inline-block;
        margin:30px auto;
        /* background-color: rgb(240, 240, 240); */
        text-align: center;
        font-size: 1rem;
              } 
}
@media screen and (max-width:850px) {
  .main-heading{
    font-family: Pinyon Script;
  background-color: #fbece874; 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  position: absolute;
   top: 20%; 
  transform: translate(0%,-50%);
  align-items: center;
  text-align: center;
  justify-content: center;
  color:  #004721;
  font-size: 1.5rem;
  letter-spacing: 12px;
  
  }
    .main-nav li{
    font-family:'Pinyon Script', cursive;
    margin-left: 4rem;
    color: rgb(210, 8, 8); 
    background-color: #fbece874; 
    border-radius: 15px;
    padding: 2px;
    text-align: center;
    list-style: none;
    font-size: 1rem;
    display: inline-flex;
   
    /* float: right; */
    }
    .second-section{
      /* margin-top: 150px; */
    justify-content: center;
      display: flex;
     flex-direction: column;
     gap: 10px;
     
    }
    .card-one{
      display: flex;
      width: 20%;
      background-color: red;
      }
      .card-two{
      display: flex;
      width: 20%;
      background-color: green;
      }
      .main-footer{
        max-height: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);  
       display: flex;
        flex-direction: row; 
      
      }
    .info{
        font-family: 'Pinyon Script';    
        color:  #004721;
        display: inline-block;
        margin:30px auto;
        /* background-color: rgb(240, 240, 240); */
        text-align: center;
        font-size: 1rem;
              } 
}
@media screen and (max-width:700px) {
  .main-heading{
    font-family: Pinyon Script;
  background-color: #fbece874; 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  position: absolute;
   top: 15%; 
  transform: translate(0%,-50%);
  align-items: center;
  text-align: center;
  justify-content: center;
  color:  #004721;
  font-size: 1rem;
  letter-spacing: 2px;
  
  }
    .main-nav li{
    font-family:'Pinyon Script', cursive;
    margin-left: 2rem;
    color: rgb(210, 8, 8); 
    background-color: #fbece874; 
    border-radius: 15px;
    padding: 2px;
    text-align: center;
    list-style: none;
    font-size: 1rem;
    display: inline-flex;
   
    /* float: right; */
    }
    .second-section{
      /* margin-top: 150px; */
    justify-content: center;
      display: flex;
     flex-direction: column;
     gap: 10px;
     
    }
    .card-one{
      display: flex;
      width: 20%;
      background-color: red;
      }
      .card-two{
      display: flex;
      width: 20%;
      background-color: green;
      }
      .main-footer{
        max-height: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);  
       display: flex;
        flex-direction: row; 
      
      }
    .info{
        font-family: 'Pinyon Script';    
        color:  #004721;
        display: inline-block;
        margin:30px auto;
        /* background-color: rgb(240, 240, 240); */
        text-align: center;
        font-size: 1rem;
              } 

            }
@media screen and (max-width:550px){
  .main-heading{
    font-family: Pinyon Script;
  background-color: #fbece874; 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  position: absolute;
   top: 15%; 
  transform: translate(0%,-50%);
  align-items: center;
  text-align: center;
  justify-content: center;
  color:  #004721;
  font-size: 1rem;
  letter-spacing: 2px;
  
  }
  .main-nav{
    position: absolute; 
    top: 2%;
    left: 5%;
    z-index: 100;
    }
    .main-nav li{
    font-family:'Pinyon Script', cursive;
    margin-left: 1.8rem;
    color: rgb(210, 8, 8); 
    /* background-color: rgba(208, 230, 14, 0.405); */
    /* border-radius: 15px;
    padding: 2px;
    text-align: center; */
    list-style:none;
    font-size: .5rem;
    display: inline-flex;
   
    /* float: right; */
    }
    .main-nav a{
      text-decoration: none;
      color:  #ffffff;
      z-index: 100;
    }
    .main-nav a:hover {
      color:  #ffffff;
    /* border-radius: 30px; */
    /* padding-right: 50px;
    padding-left: 50px; */
    z-index: 100;
    }




            }